body {
    margin-right: 10%;
    margin-top: 0;
}

.navi {
    background-color: #f7f7f7;
    height: 100%;
}

.login {
    margin-top: 50%;
}

.delete-confirmation {
    background-color: #f2dede;
    padding: 10px;
    position: fixed;
    margin-left: 20%;
    margin-top: 10%;
    z-index: 834795837948579384;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}