{% extends '::base_blank.html.twig' %}
{% block title %}EVA{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-10">

        <div class="text-center new-question">
            <div class="col-md-2"></div>
            <div class="col-md-1">
                <div class="form-group">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group login">
                    <label for="loginNutzername">Nutzername</label>
                    <input type="text" class="form-control" id="loginNutzername" placeholder="Nutzername">
                    <br>
                    <label for="loginPassword">Passwort</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                </div>
            </div>
        </div>


    </div>

    <div class="text-center">
        <a href="homepageFirst.html" class="btn btn-success">Login</a>
    </div>
</div>

{% endblock %}